* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 0.9;
}

h1 {
  letter-spacing: 2px;
}

p {
  color: #fff;
  font-size: 20px;
}

body {
  background-image: linear-gradient(rgb(38, 62, 141), rgb(51, 100, 51));
  height: 120vh;
  backdrop-filter: blur(4px);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(25, 92, 39, 0.938);
  height: 8vh;
  opacity: 0.9;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-left: 50px;
}
.bandeira {
  width: 120px;
  height: 55px;
  margin-left: 280px;
}

.cabecalho {
  list-style: none;
  display: flex;
}

.cabecalho li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.meio {
  display: inline-block;
}

#conteudo-um {
  width: 1450px;
  height: 200px;
  margin-left: 200px;
  margin-top: 70px;
  text-align: center;
}

#rs {
  margin-top: 40px;
}

#conteudo-dois {
  width: 1450px;
  height: 200px;
  margin-left: 200px;
  margin-top: 70px;
  text-align: center;
}

#sc {
  margin-top: 40px;
}

#conteudo-tres {
  width: 1450px;
  height: 200px;
  margin-left: 200px;
  margin-top: 70px;
  text-align: center;
}

#pr {
  margin-top: 40px;
}
